*{
    margin: 0;
    padding: 0;
}

.navbar{
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 0;
}
.container-fluid{

    margin-top: 0;
    background-color:black;
    height: 110px;
    
}
.logo{
    border-radius: 50px;
    border: 2px solid #CCA43D;
   
}
.logo:hover{
    height: 82px;
    width: 82px;
}
.navbar-brand{
    font-family: papyrus;
    color: wheat;
}
.navbar-brand:hover{
    color: wheat;
    
}
.nav-link,.nav-link:hover{
    color:#CCA43D;
    font-family:'Times New Roman', Times, serif;
}
.btn-outline-success{
    background-color: #CCA43D;
    color: black;
    border: 1px solid #CCA43D;
    border-radius: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
.btn-outline-success:hover{
    width: 79.05px;
    height: 40px;
    background-color: #CCA43D;
    color: black;
    border: 1px solid #CCA43D;
    border-radius: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
.form-control{
    border-radius:20px ;
}
